<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Keyboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <Keyboard.Properties.Settings>
            <setting name="Keyboard_com_megaokul_gateway_HERYONESMSWebService"
                serializeAs="String">
                <value>http://gateway.megaokul.com/HERYONESMSWebService.asmx</value>
            </setting>
            <setting name="KARTLIOKULKONTROL_com_ttmesaj_ws_Service1" serializeAs="String">
                <value>https://ws.ttmesaj.com/Service1.asmx</value>
            </setting>
        </Keyboard.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
